 *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins' , sans-serif;
        box-sizing: border-box;
    }
html{
        scroll-behavior: smooth;
    }
body{
        background-color: #420807;
        color: #fda0ff;
    }
#header{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-image:url(photo/poklog.jpg) ;
    }
    .container{
        padding: 10px 10%;
    }
.nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
.pho{
        width: 140px;
}
    
.nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    
.nav ul li a{
        color: #ffa7f9;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }
.nav ul li a::after{
        content: '';
        width: 0%;
        height: 3px;
        background-color: #ffa5f5;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
.nav ul li a:hover::after{
        width: 100%;
    }
.header-text{
        margin-top: 15%;
        font-size: 30px;
    }
.header-text h1{
        font-size: 60px;
        margin-top: 20px;
    }
.header-text h1 span{
        color: #f984ff;
    }
    /*---------------about-----------------------*/
#about{
        padding:  80px 0;
        color: #fab3ff;
    }
.row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
.about-col-1{
        flex-basis: 35%;
    }
.about-col-1 img{
        width: 100%;
        border-radius: 15px;
    }
.about-col-2{
        flex-basis: 60%;
    }
.sub-title{
        font-size: 60px;
        font-weight: 600;
        color: #f9a5ff;
    }
.tab-titles{
        display: flex;
        margin: 20px 0 40px;
    }
.tab-links{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }
.tab-links::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ff86fbcf;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
    }
.tab-links.active-link::after{
        width: 50%;
    }
.tab-contents ul li{
        list-style: none;
        margin: 10px 0;
    }
.tab-contents ul li span{
        color: #f123c5;
        font-size: 14px;
    }
.tab-contents{
        display: none;
    }
.tab-contents.active-tab{
        display: block;
    }
    /* ------------activities---------- */
#activities{
        padding: 50px 0;
    }
.work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
.work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
.work img{
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
.work:hover img{
        transform: scale(1.1);
    }
    /*--------contact----------*/
.contact-{
        flex-basis: 35%;
    }
.contact p{
        margin-top: 50px;
    }
.contact p i{
        color: #f692ff;
        margin-right: 15px;
        font-size: 25px;
    }
.social-icons{
        margin-top: 30px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #e7b0ff;
        display: inline-block;
        transition: transform 0.5s;
    }
.social-icons a:hover{
        color: #de89ff;
        transform: center;
    }
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: hwb(323 54% 7% / 0.788);
    font-weight: 200;
    margin-top: 20px;
    }
    /*-------------css for small screen--------------------*/
.nav .fas{
        display: none;
    }
@media only screen and (max-width: 600px){
    #header{
        background-image: url(photo/IMG_9312.JPG);
        }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        }
    .header-text h1{
            font-size: 30px;
        }
    .nav .fas{
            display: block;
            font-size: 25px;
        }
    .nav ul{
            background: #d284ee;
            position: fixed;
            top: 0;
            right: -200px;
            width: 200px;
            height: 100vh;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s;
        }
    .nav ul li{
            display: block;
            margin: 25px;
        }
    .nav ul .fas{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }
    .sub-title{
            font-size: 40px;
        }
    .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
    .about-col-1{
            margin-bottom: 30px;
        }
    .about-col-2{
            font-size: 14px;
        }
    .tab-links{
            font-size: 16px;
            margin-right: 20px;
        }
    .contact-left, .contact-right{
            flex-basis: 100%;
        }
}